# Bienvenido a la página de Jekyll de Daniel Vicuña
#
# Esta es la pagina principal de la practica 1.
# 
title: Mi Practica Jekyll
baseurl: "/practica1Jekyll" # IMPORTANTE: Incluye la barra y el nombre del repo
url: "https://davicuna.github.io"
repository: davicuna/practica1Jekyll
theme: minima

plugins:
  - jekyll-feed
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
